<br>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="">Share your Inspirational Quotes With Us</a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#today">today's quotes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#favourite">Favourite quote</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#create">create quote</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#recent">recently added quotes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>
<br>
<br>
<div class="container mr-10">
  <app-quote-show></app-quote-show>
</div>
<br>
<app-form-to-add (addQuote)="addNewQuote($event)"></app-form-to-add>
<br>
<br>
<br>

<div class="container mr-10" id="recent">


  <table class="table table-sm table-light">
    <thead>
      <tr>
        <th scope="col" class="text-white-50">
          <!-- <img src="./assets/dislike.png" class="img-header float-left" alt="dislike"> -->
          <h1 class="text-center text-dark"><strong><img src="./assets/dislike.png" class="img-right"
                alt="quote">Recently Added Quotes
              <img src="./assets/like.png" class="img-right" alt="quote"></strong></h1>
          <!-- <img src="./assets/like.png" class="img-header float-right" alt="like"> -->
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <div *ngFor='let quote of quotes;let i = index'>

          <td id="{{i}}"> {{ quote.quote }} {{ quote.mediumDate|date }}

          </td>
          <img src="./assets/mit2.jpeg" class="img-header float-right" alt="platos">
          <td class="blockquote-footer float-right">
            Author <br> <cite title="Author"> {{ quote.author }} </cite>
          </td>
          <img src="./assets/mit2.jpeg" class="img-header float-left" alt="mitchelle">
          <td class="blockquote-footer float-left">
            Submitter <br> <cite title="Submitter"> {{ quote.submitter }} </cite>
          </td>

          <app-thumb-up></app-thumb-up>
          <app-thumb-down></app-thumb-down>

          <button (click)='toggleDetails(i)' class="btn btn-outline-dark m-2">Show Quote Details Or Delete</button>

          <div *ngIf='quote.showDescription'>
            <app-details *ngIf='quote.showDescription' [quote]='quote' (isComplete)='deleteQuote($event,i)'>
            </app-details>
          </div>
        </div>
      </tr>
      <br>
      <tr>
        <p *ngIf='quotes.length > 0'><button (click)='showMeMostLiked()' class="btn btn-outline-dark m-2 check">Check
            For The Most Liked quote</button>
        </p>
        <div *ngIf='bestQuote && quotes.length > 0' appMostLiked>
          <div>
            <h3>Best Quote: {{bestQuote}}</h3>
            <h3>Votes: {{highestCounter}}</h3>
          </div>
        </div>
        <br>
      </tr>
    </tbody>
  </table>
</div>

<footer class="footer">
  <div class="container align-items-center">
    <span class="text-center text-white">
      <h5>Copyrights © Quotes. All rights reserved</h5>
    </span>
  </div>
  <div class="container-fluid social">
    <a href="www.twitter.com"><img src="./assets/social_icons/twitter.png"></a>
    <a href="www.dribble.com"><img src="./assets/social_icons/dribble.png"></a>
    <a href="www.facebook.com"><img src="./assets/social_icons/facebook.png"></a>
    <a href="www.g plus.com"><img src="./assets/social_icons/g_plus.png"></a>
    <a href="www.skype.com"><img src="./assets/social_icons/skype.png"></a>
    <a href="www.youtube.com"><img src="./assets/social_icons/you_tube.png"></a>
    <a href="www.behance.com"><img src="./assets/social_icons/behance.png"></a>
    <a href="www.pinterest.com"><img src="./assets/social_icons/pinterest.png"></a>
    <a href="www.flickr.com"><img src="./assets/social_icons/flickr.png"></a>
    <a href="www.stumble upon.com"><img src="./assets/social_icons/stumble_upon.png"></a>
  </div>
</footer>