<div class="container" id="today">
    <h1 class="text-white">
        <img src="./assets/quote.jpeg" class="img-right" alt="mark">
        <strong>Today's quotes</strong>
        <img src="./assets/quote.jpeg" class="img-right" alt="mark">
    </h1>
    <div class="row card-column">
        <div class="col-md-3">
            <div class="card text-black bg-light mb-3" style="max-width: 18rem;">
                <img class="card-img-top" src="./assets/maya.jpeg" alt="Card image cap">
                <div class="card-header">Quote</div>
                <div class="card-body">
                    <h5 class="card-title">"You can only become truly accomplished at something you truly really love."
                    </h5>
                    <footer class="blockquote-footer">
                        <h5>Author</h5> <cite title="Author">
                            <h6><em>Maya Angelou</em></h6>
                        </cite>
                    </footer>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-black bg-light mb-3" style="max-width: 18rem;">
                <img class="card-img-top" src="./assets/mit.jpeg" alt="Card image cap">
                <div class="card-header">Quote</div>
                <div class="card-body">
                    <h5 class="card-title">"There are still causes worth sacrificing for,so much history yet to be
                        made."</h5>
                    <footer class="blockquote-footer">
                        <h5>Author</h5> <cite title="Author">
                            <h6><em>Michelle Obama</em></h6>
                        </cite>
                    </footer>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-black bg-light mb-3" style="max-width: 18rem;">
                <img class="card-img-top" src="./assets/oprah.jpeg" alt="Card image cap">
                <div class="card-header">Quote</div>
                <div class="card-body">
                    <h5 class="card-title">"Doing the best at this moment puts you in the best place for the next
                        moment.</h5>
                    <footer class="blockquote-footer">
                        <h5>Author</h5> <cite title="Author">
                            <h6><em>Oprah Winfrey</em></h6>
                        </cite>
                    </footer>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-black bg-light mb-3" style="max-width: 18rem;">
                <img class="card-img-top" src="./assets/albert.jpeg" alt="Card image cap">
                <div class="card-header">Quote</div>
                <div class="card-body">
                    <h5 class="card-title">"Anyone who has never made a mistake at all then has never tried anything
                        new."</h5>
                    <footer class="blockquote-footer">
                        <h5>Author</h5> <cite title="Author">
                            <h6><em>Albert Einstein</em></h6>
                        </cite>
                    </footer>
                </div>
            </div>
        </div> 
    </div>
</div> 
<br>
<div class="container" id="favourite">
    <div class="card mb-4">
        <img class="card-img-top" src="./assets/nairobi.png" style="max-height: 30rem" alt="Card image cap">
        <div class="card-header text-black-50">
            <h4>
                <img src="./assets/left.png" class="img-left float-left" alt="mark">
                Today's favourite quote of the Day!
                <img src="./assets/right.png" class="img-right float-right" alt="mark">
            </h4>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0 text-black p-2">
                <p>
                    "
                    Have you ever thought that if you can go back in time, you might still make the same 
                    decisions? We all make our own snowballs out of our bad decisions. Balls that become 
                    massive, like the Indiana Jones boulder, chasing you down-hill only to crush you in 
                    the end.."<br>
                </p>
                <footer class="blockquote-footer">
                    <h4>Author</h4> <cite title="Author">
                        <h5><em>Money Heist</em></h5>
                    </cite>
                </footer>
            </blockquote>
        </div>
    </div>
    <br>
</div>